    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Movie Watch List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{#each movies}}
                <h3>{{id}}. {{movie}}</h3>
                {{/each}}
            </div>
        </div>
    </div>

